html {
	background: 	#090110;
}

body {
	margin:			0;
	height:			100%;
	width:			100%;
	top:			0;
}

#search h2 {
	margin:			0 0 10px 0;
	color:			#FFF;
	font-weight:	normal;
	font-family:	consolas;
	text-align:		left;
}

#search {
	text-align:		center;
	height:			150px;
	
	margin:			0 auto;
	padding-top:	50px;
}

#search, #search input {
	width:			500px;

	font-family:	consolas;
	font-size:		18px;
}

#search input {
	height:			30px;
}

#update-time {
	position:		absolute;
	bottom:			5px;
	left:			10px;
	
	color:			#666;
	font-family:	consolas;
}

ul.ui-autocomplete {
	max-height:		300px;
	overflow-y:		auto;
	overflow-x:		hidden;
}

body .ui-autocomplete .ui-state-focus {
	background:		#090110;
	color:			#fff;
	border:			1px solid #000077;
}

#copyright {
	position:		absolute;
	bottom:			5px;
	right:			10px;
	color:			#FFF;

	font-family:	consolas;
}

#copyright a {
	color:			#FFF;
}

#images .container {
	text-align: 	center;
	margin:			0 auto;
	max-width:		870px;
	min-width:		100px;
}

#images img {
	width:			75px;
	height:			75px;
	opacity:		0.5;

	border:			4px solid transparent;
	border-radius: 	40px;

	cursor:			pointer;
}

#images img:hover {
	opacity:		1;
	border:			4px solid #6939f8;
}

body .ui-tooltip {
	padding: 		10px 20px;
	color: 			white;
	border-radius: 	5px;
	font-size:		14px 				!important;
	font-family:	consolas 			!important;
	border:			1px solid #6939f8;
	border-width: 	1px 				!important;
	background:		rgba(9,1,16, 0.85);
}

#images .container div {
	width:		75px;
	height: 	75px;
	position: 	relative;
	float: 		left;
}

#images .container div label {
	color: 			#FFF;
	font-family: 	consolas;
	position: 		absolute;
	bottom: 		0;
	left: 			0;
	text-align: 	center;
	width: 			83px;
	font-size: 		11px;
}

html, body {
	height: 		100%;
	margin:			0;
}

#wrap {
	min-height: 	100%;
}

#main {
	padding-bottom: 50px;

	margin:			0 10px 0 10px;
}

#footer {
	position: 		relative;
	margin-top: 	-50px; /* negative value of footer height */
	height: 		50px;
	clear:			both;

	font-size: 		16px;
}

@media (max-width: 625px) {
	#search {
		display:	none;
	}

	#images img {
		opacity:	0.9;
	}
}

* {
	margin-top:		0;
}

#home {
	font-family: 	consolas, Helvetica;
	color:			#FFF;
}

#home {
	cursor:			pointer;

	padding-top:	70px;
}

#home div {
	-webkit-user-select:	none;
	-moz-user-select:		none;
	user-select:			none;
}

#home img {
	width:			800px;
	height:			120px;
	border:			none;

	position:		absolute;
	top:			0;
	left:			0;
	z-index:		-1;
}

#home .hotsbuilds {
	color: 			#FFF;
	font-size: 		48pt;
	text-shadow: 	0px 0px 1rem #009cff;
}

#home .info {
	font-size: 		18pt;
	color: 			#009cff;
}

@media (max-width:	800px) {

	body {
		overflow-x:		hidden;
	}

	#home span.hotsbuilds {
		width:			100%;
		display:		block;
		text-align: 	center;
	}

	#home span.info {
		display:		none;
	}

	#home span.hotsbuilds {
		font-size:		36pt;
	}

	#footer {
		font-size:		10px;
	}
}

#donate {
	float:				right;
}

#donate input[type="image"] {
	width:				60px;
	margin-left:		10px;
	margin-top:			2px;
}

#beta {
	position: 		fixed;
	top:			0;
	left:			0;

	height:			20px;
	width:			100%;

	background:		#00AEEF !important;
	color:			#FFF !important;

	font-size:		20px;
	font-weight: 	bold;

	z-index:		100;
	padding: 		5px;
}
