html {
	background: 	#090110;
	font-family:	consolas !important;
}

img {
	width:			48px;
	height:			48px;

	border-radius:  5px;

	border:			1px solid #CCC;
	background:		#000;
}

img.hovered {
	border:			1px solid #6939f8;
}

h1, h2 {
	font-family:	consolas;
	color:			#FFF;
}

#getBonkd, #hotslogs {
	float:			left;
	min-height: 	500px;
	min-width: 		350px;
	margin-right:	20px;
	color:			#FFF;
}

table {
	color:			#FFF;
}

div.left {
	float:			left;
	width:			45%;
}

div.right {
	float:			right;
	width:			45%;
}

table {
	min-width:		350px;
}

td {
	padding:		0;
	margin:			0;

	font-family: 	consolas;
}

td.talentNum {
	width:			50px;
	padding-right:	30px;
	text-align: 	center;

	font-size:		24px;
	font-weight: 	bold;
}

#search, #search input {
	width:			350px;
	height:			30px;

	font-family:	consolas;
	font-size:		18px;
}

#search {
	height:			50px;
}

#search input {
	margin:			20px 0;
}

#bg-video {
	position: 		absolute;
	bottom:			0;
	right:			0;
	z-index:		-100;
	transition:		opacity 1.0s ease-in-out;
}

#update-time {
	position:		absolute;
	bottom:			5px;
	left:			10px;
	
	color:			#666;
	font-family:	consolas;
}

@media (max-width: 1200px) {
	#bg-video {
		opacity:		0.3;
	}
}

ul.ui-autocomplete {
	max-height:		300px;
	overflow-y:		auto;
	overflow-x:		hidden;
}

body .ui-autocomplete .ui-state-focus {
	background:		#090110;
	color:			#fff;
	border:			1px solid #000077;
}

body .ui-tooltip {
	padding: 		10px 20px;
	color: 			white;
	border-radius: 	5px;
	font-size:		14px 				!important;
	font-family:	consolas 			!important;
	border:			1px solid #6939f8;
	border-width: 	1px 				!important;
	background:		#090110;
}

body .ui-tooltip span.number {
	color:			#a296ff;
	font-weight: 	bold;
}

@media (max-width: 750px) {
	body .ui-tooltip {
		display:	none !important;
	}
}