img {
	width:			64px;
	height:			64px;

	border-radius: 10px;
	padding: 		5px;
	margin:			10px;

	background:		rgba(50, 50, 50, 0.3);
}

img.highlighted {
	background:		rgba(50, 50, 50, 0.5);
}

div.description {
	font-family:	consolas;
	font-size:		14px;
}

div.description strong {
	font-size: 		18px;
}

h1, h2 {
	font-family:	consolas;
}