html {
	background: 	#090110;
	font-family:	consolas, Helvetica !important;
}

img {
	width:			48px;
	height:			48px;

	border-radius:  5px;

	border:			1px solid #CCC;
	background:		#000;
}

img:hover {
	border:			1px solid #6939f8;
}

h1, h2 {
	font-family:	consolas, Helvetica;
	color:			#FFF;
}

h2 a {
	color:			#FFF;
}
h2 a:visited {
	color:			#AAA;
}

#getbonkd, #hotslogs, #heroesfire {
	float:			left;
	min-height: 	500px;
	min-width: 		300px;
	margin-right:	20px;
	color:			#FFF;
}

table {
	color:			#FFF;
}

div.left {
	float:			left;
	width:			45%;
}

div.right {
	float:			right;
	width:			45%;
}

table {
	min-width:		350px;
}

td {
	padding:		0;
	margin:			0;

	font-family: 	consolas, Helvetica;
}

td.talentNum {
	width:			50px;
	text-align: 	center;

	font-size:		24px;
	font-weight: 	bold;
}

#search, #search input {
	min-width:		250px;
	height:			30px;

	font-family:	consolas, Helvetica;
	font-size:		18px;
}

#search {
	height:			50px;
}

#search input {
	margin:			20px 0;
}

#bg-video {
	position: 		absolute;
	bottom:			0;
	right:			0;
	z-index:		-100;
	transition:		opacity 1.0s ease-in-out;
}

#update-time {
	position:		absolute;
	bottom:			5px;
	left:			10px;
	
	color:			#666;
	font-family:	consolas, Helvetica;
}

#copyright {
	position:		absolute;
	bottom:			5px;
	right:			10px;
	color:			#FFF;

	font-family:	consolas, Helvetica;
}

#copyright a {
	color:			#FFF;
}

ul.ui-autocomplete {
	max-height:		300px;
	overflow-y:		auto;
	overflow-x:		hidden;
}

body .ui-autocomplete .ui-state-focus {
	background:		#090110;
	color:			#fff;
	border:			1px solid #000077;
}

body .ui-tooltip {
	padding: 		10px 20px;
	color: 			white;
	border-radius: 	5px;
	font-size:		14px 				!important;
	font-family:	consolas, Helvetica !important;
	border:			1px solid #6939f8;
	border-width: 	1px 				!important;
	background:		rgba(9,1,16, 0.85);
}

body .ui-tooltip a {
	color:			#AAA;
}

body .ui-tooltip span.number {
	color:			#a296ff;
	font-weight: 	bold;
}



html, body {
	height: 		100%;
	margin:			0;
}

#wrap {
	min-height: 	100%;
}

#main {
	padding-bottom: 50px;

	margin:			0 10px 0 10px;
}

#footer {
	position: 		relative;
	margin-top: 	-50px; /* negative value of footer height */
	height: 		50px;
	clear:			both;
}

#home {
	font-family: 	consolas, Helvetica;
	color:			#FFF;
	margin-top:		10px;
}

#home a:visited {
	color:			#AAA;
}

table {
	transition:		min-width 0.5s ease-out;
}

/* MEDIA QUERIES */
@media (max-width: 1300px) {
	#bg-video {
		opacity:		0.3;
	}

	table {
		min-width:		300px;
	}
}

@media (max-width: 1000px) {

	h1 {
		text-align: 	center;
	}

	#search input {
		width:			100%;
		margin:			10px 0;
	}

	#bg-video {
		opacity:		0;
	}

	#update-time {
		display:	none;
	}

	table {
		margin:			0 auto;
		min-width:		300px;
	}

	#getbonkd, #hotslogs, #heroesfire {
		width:			100%;
		text-align: 	center;
	}

	#footer {
		display:		none;
	}
}

/* iPhone size, roughly. */
@media (max-width: 480px) {

	body {
		text-overflow:	none;
	}

	table {
		margin:			0 auto;
	}
}

#toggle-bg {
	float:				right;
	color:				#FFF;
}
